/*
colors

dark brown #543729
orange #FFCC2F
(old) Twitter blue #00ACEE

*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #fff;
}

body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #543729;
}

/* ---- a ---- */

a {
  text-decoration: none;
  color: #008ec4;
}

a:hover {
  text-decoration: underline;
}

/* ---- h1-h6 ---- */


h2, h3 {
  margin: 1.4em 0 0.8em;
  color: #2BAF2B;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

/* ---- table ---- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: top;
  border-top: 1px solid #DDD;
  padding: 0.2em 0.4em 0.3em 0;
}

/* ---- code ---- */

pre, code {
  font-family: Consolas, Menlo, Courier, monospace;
}

code {
  padding: 0.1em 0.2em;
  background: #EEE;
  border-radius: 3px;
  font-size: 0.95em;
}

pre {
  padding: 1.0em;
  color: white;
  background: #543729;
  border-radius: 5px;
  white-space: pre-wrap;
}

pre code {
  color: inherit;
  background: none;
  padding: 0;
  border-radius: 0;
  font-size: 1.1em;
}

pre a,
code a {
  color: #0AF;
}

pre a:hover,
code a:hover {
  text-decoration: none;
  background: hsla(0, 0%, 100%, 0.1);
}

/* ---- syntax highlighting ---- */

/* via Pygments */

code .s1,
code .s2,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na, /* markup attribute */
code .nv { color: #A9D866; } /* bash leading $ */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1,
code .cm { color: #876; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */

/* bash leading $ */
code .nv {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


/* ---- Responsive styles ---- */
@media screen and (max-width: 667px) {
  pre {
    font-size: 0.8em;
    padding: 0.8em;
    border-radius: 3px;
  }
  td {
    font-size: 0.65em;
  }
}

.b-chart.b-users {
  height: 300px;
  background: #fff8e2;
  padding: 10px 10px 0px 10px;
}
.b-chart.b-users .area {
  stroke: none;
}
.b-chart.b-users text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8em;
  fill: #543729;
}
.b-chart.b-users .axis line {
  stroke-width: 1px;
}
.b-chart.b-users .y-gridlines line {
  stroke-width: 1px;
  stroke: #cecece;
}
.b-chart.b-users .x-gridlines line {
  opacity: 0;
}
.b-chart.b-users .npm-installs .line {
  stroke: #EF5734;
  stroke-width: 2px;
  fill: none;
}


.search-results .table {
    table-layout: fixed;
}
.search-results .table > thead > tr > th {
  border-bottom: 1px solid #eee;
  padding: 5px 0px 15px 0px;
  text-align: left;
  min-width: 80px;
}
.search-results .table > tbody > tr > td {
  border-top: 1px solid #f2f2f2;
  padding-right: 5px;
}
.search-results mark{
    background: #FFCC2F;
    color: inherit;
}
.search-header {

}
.search-header h1 {
  font-weight: 900;
  font-size: 64px;
  margin: 10px 0 10px;
  letter-spacing: -0.025em;
}
.search-header .sponsored {
  margin: 10px 0 10px;
  font-size: 26px;
  color: #EF5734;
}
.search-header .sponsored a {
  font-weight: 900;
}
.search-header .logo {
  margin-bottom: 10px;
  float: left;
  margin-right: 20px;
}
.search-header .logo img {
  width: 160px;
}
.search-header input[type=search] {

}
.search-header input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
.search-header input[type=search]::-webkit-search-results-decoration {
  padding-left: 0;
  padding-right: 10px;
}
.search-header input[type=search]::-webkit-input-placeholder {
  font-style: italic;
  color: #aaa;
}
.search-header input[type=search],
.search-header input[type=search]:focus {
  height: 100%;
  border: 0;
  box-shadow: 0 0px 1px #ccc;
  font-size: 18px;
  padding: 12px 10px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
  outline-width: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.search-results .container {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 1px #ccc;
  margin-bottom: 50px;
  padding-top: 10px;
}
.search-results .container .alert {
  margin-top: 20px;
}
.search-results .container a:hover {
  cursor: pointer;
}
.search-results .container .description {
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.search-results .name h4 {
  margin-bottom: 0.3em;
}
.search-results .container .label {
  background: #CECECE;
  color: #543729;
  display: inline-block;
  font-weight: normal;
}
.search-results .container .search-results td {
  vertical-align: middle;
}
.search-results .container .search-results .owners,
.search-results .container .search-results .updated {
  width: 13%;
}
.search-results .container .search-results .updated {
  white-space: nowrap;
}
.search-results .container .search-results .stars {
  width: 8%;
}
.search-results .container .pager {
  margin: 10px 0;
}
.search-results .container .pager-info {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}
.search-results .alert {
  display: block;
  text-align: center;
  padding: 20px 0 50px;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

.sidebar-logo {
  max-height: 100px;
  max-width: 200px;
  display: block;
  margin: 4px auto;
}

.sidebar h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

.notification {
  width: 100%;
  text-align: center;
  background-color: #2188b6;
  color: white;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 4px;
}

.notification a {
  color: white;
  text-decoration: underline;
}
