#masthead {
  background: #FFCC2F;
  color: #543729;
  padding: 10px 0;
  min-height: 180px;
  margin-bottom: 20px;
}

.logo {
  display: block;
  width: 140px;
  position: absolute;
  left: 30px;
  top: 15px;
}

/* ----- Nice logo hover on subpages ---- */

a img.logo {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover img.logo {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* ---- network-nav ---- */

#masthead .container { position: relative; }

.network-nav {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; /* on top of brand */
  font-weight: bold;
  font-size: 16px;
}

.network-nav li {
  float: left;
}

.network-nav a {
  color: #2baf2b;
  display: block;
  padding: 0.2em 15px;
  border-radius: 4px;
}

.docs-page .network-nav .nav-docs a,
.blog-page .network-nav .nav-blog a {
  color: #00ACEE;
}

.network-nav a:hover {
  text-decoration: none;
  background: white;
}

/* ---- sidebar ---- */

.sidebar {
  position: absolute;
  left: 10px;
  top: 0;
  width: 200px;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav a {
  display: block;
  padding: 0.2em 0;
}

/* ---- docs-nav ---- */

.docs-nav li {
  font-size: 17px;
  font-weight: bold;
}

.docs-nav a {
  color: #00acee;
}

.docs-nav ul {
  padding-left: 15px;
}

.docs-nav ul li {
  list-style-type: none;
}

.docs-nav ul li a {
  font-size: 15px;
}

.extra-nav li {
  font-size: 14px;
}

/* ---- page-title ---- */

.page-title {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -0.025em;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 220px;
}


/* ---- brand ---- */

.brand {
  position: relative;
  padding-left: 360px;
  min-height: 310px;
}

.brand h1 {
  display: inline-block;
  font-size: 66px;
  margin: 0;
  line-height: 80px;
  color: #EF5734;
  font-size: 100px;
  line-height: 1;
  padding-top: 60px;
}

.brand h1,
.brand h3 {
  letter-spacing: -0.04em;
}

.brand .logo {
  display: block;
  position: absolute;
  left: -20px;
  top: 20px;
  width: 340px;
}

.brand .tagline {
  margin: 0 0 30px;
  font-size: 18px;
  font-size: 48px;
  line-height: 1;
  color: #543729;
}

/* ---- Responsive styles ---- */

@media screen and (max-width: 667px) {
  #masthead {
    margin-bottom: 10px;
  }
  .network-nav {
    display: table;
    font-size: 14px;
    left: auto;
    position: relative;
    top: auto;
    width: 100%;
  }
  .network-nav.nav {
    padding-bottom: 12px;
    border-bottom: 1px solid #f1c03e;
  }
  .network-nav:after {
    content: "";
    display: table;
    clear: both;
  }
  .network-nav li {
    float: none;
    text-align: center;
    display: table-cell;
    margin-bottom: 10px;
    valign: bottom;
  }
  .brand {
    padding-left: 0;
    min-height: 0;
    text-align: center
  }
  .logo, .brand .logo {
    position: relative;
    left: auto;
    top: auto;
    width: 100px;
    margin: 12px auto 0;
  }
  .page-title {
    font-size: 32px;
    padding: 7px 0 5px 0;
    text-align: center;
  }
  .brand h1 {
    padding-top: 0;
    font-size: 48px;
  }
  .brand .tagline {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .sidebar {
    left: auto;
    position: relative;
    top: auto;
    width: 100%;
  }
  .sidebar .nav a {
    padding: 0.4em 0;
  }
  .container .main {
    margin-left: 0;
  }
  .docs-nav li {
    border-bottom: 1px solid #eee;
  }
  .docs-nav li ul li:last-child {
    border-bottom: none;
  }
}
