#masthead {
  background: #FFCC2F;
  color: #543729;
  padding: 10px 0;
  min-height: 180px;
}

.logo {
  display: block;
  width: 120px;
  position: absolute;
}


.site-nav li {
  font-size: 17px;
  font-weight: bold;
}

.site-nav a {
  color: #2baf2b;
  display: block;
  padding: 0.5em;
}

.page-title {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -0.025em;
  margin: 0;
  padding: 0;
  padding-left: 150px;
}


/* ---- brand ---- */

.brand {
  position: relative;
  padding-left: 360px;
  min-height: 310px;
}

.brand h1 {
  display: inline-block;
  font-size: 66px;
  margin: 0;
  line-height: 80px;
  color: #EF5734;
  font-size: 100px;
  line-height: 1;
  padding-top: 60px;
}

.brand h1,
.brand h3 {
  letter-spacing: -0.04em;
}

.brand .logo {
  display: block;
  position: absolute;
  left: -20px;
  top: 0px;
  width: 340px;
}

.brand .tagline {
  margin: 0 0  10px;
  font-size: 18px;
/*  text-align: center;*/
    font-size: 48px;
    line-height: 1;
    margin-bottom: 30px;
  }
