/* ---- nav ---- */

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ---- container ---- */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

#content .main > *:first-child { margin-top: 0; }

#content .container {
  position: relative;
}

.main {
  margin-left: 230px;
  padding-bottom: 60px;
}

/* ---- lead ---- */

.lead {
  font-size: 1.6em;
  line-height: 1.25;
}


