/* Base
================================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #fff;
}

body {
  font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
  padding: 0;
  margin: 0;
  color: #222;
}

h1 {
  display: none;
}

h2 {
  font-size: 1.8em;
  margin-top: 3em;
}

h1 > a,
h2 > a,
h3 > a {
  display: none;
}

h3 {
  font-size: 1.4em;
  margin-top: 2em;
}

a {
  color: purple;
}

pre, code {
  padding: 5px 10px;
  margin-bottom: 20px;
  overflow: auto;
  font-family: courier;
  background: ghostwhite;
  border: 1px solid #ddd;
}

code {
  padding: 2px 5px;
}

pre code {
  padding: 0;
  margin-bottom: 0;
  border: 0;
}

pre:before,
pre:after {
  content: '';
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
}

pre:before {
  border-top: 1px solid hsla( 0, 0%, 100%, 1 );
  top: 0;
}

pre:after {
  border-top: 1px solid hsla( 0, 0%, 0%, 0.05 );
  bottom: 0px;
}

#content img {
  display: inline-block;
  max-width: 100%;
}

/* wrap
================================================== */

.wrap {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

/* Hero
================================================== */

#hero {
  background: #FFCC2F;
  line-height: 1.2;
  color: #543729;
  padding-bottom: 10px;
}

#hero .wrap {
  position: relative;
}

#hero .brand {
  text-align: center;
}

#hero h1 {
  display: inline-block;
  font-size: 66px;
  margin: 0;
  line-height: 80px;
  color: #EF5734;
}

#hero h1,
#hero h3 {
  letter-spacing: -0.04em;
}

#hero .bower-logo {
  display: inline-block;
  width: 80px;
  vertical-align: bottom;
}

#hero h3 {
  margin: 0 0  10px;
  font-size: 18px;
  text-align: center;
}

#hero .tagline {
  font-size: 22px;
}

#hero .button {
  display: block;
  background-color: #2BAF2B;
  padding: 10px 15px;;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.4);
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.0) 50%,
    hsla(0, 0%,   0%, 0.0) 50%,
    hsla(0, 0%,   0%, 0.1)
  );
}

#hero .button:hover {
  background-color: #3C3;
}

/* Footer
================================================== */

.footer {
  display: block;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid ghostwhite;
  padding: 50px 0;
}

/* Media Queries
================================================== */

/* tablet-ish */
@media only screen and (min-width: 580px) {

  #hero {
    padding: 30px 0;
  }

  #hero .wrap {
    padding-left: 250px;
    width: 540px;
  }

  #hero .bower-logo {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
  }

  #hero .brand,
  #hero h3 {
    text-align: left;
  }

  #hero .button {
    display: inline-block;
    clear: both;
  }

}

/* desktop-ish*/
@media only screen and (min-width: 920px) {

  #hero {
    padding: 40px 0 60px;
  }

  #hero .wrap {
    padding-left: 350px;
    width: auto;
  }

  #hero .bower-logo {
    left: -20px;
    top: 0px;
    width: 360px;
  }

  #hero h1 {
    font-size: 110px;
    line-height: 1;
  }

  #hero h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  #hero .tagline {
    font-size: 54px;
    line-height: 1;
  }

  h1,
  h2,
  h3 {
    position: relative;
  }

  h1:hover > a,
  h2:hover > a,
  h3:hover > a {
    background: url('img/link.png') no-repeat;
    display:block;
    position:absolute;
    top: 0.2em;
    left: -50px;
    height: 40px;
    min-width:50px;
    overflow: hidden;
    text-indent: -999em;
    opacity: 0.6;
  }

}
