<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="1XwfuTPiyoCivlUjHLisCr8ukNu3tiv0Ax_wDx3-BhY">

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" type="text/css" href="/dist/index.css">

  <!-- Social Medias -->
  <meta property="og:url" content="http://bower.io{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  <meta property="og:image" content="http://bower.io/img/bower-logo.png">
