{% include html-head.html %}
<title>{% unless page.is_home %}{{ page.title }} &middot; Bower{% endunless %}{% if page.is_home %}Bower — a package manager for the web{% endif %}</title>
  <meta property="og:title" content="{% unless page.is_home %}{{ page.title }} &middot; {% endunless %}Bower">
</head>
<body class="docs-page">

{% comment %} SVG symbols for inline SVG icons {% endcomment %}
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
  <symbol id="symbol-twitter-logo" viewBox="0 0 512 512">
    <path d="M512 97c-19 8-39 14-60 16 22-13 38-34 46-58-20 12-43 21-67 25-19-19-46-32-77-32-58 0-117 52-102 129-87-4-165-46-216-110-24 40-19 107 32 140-17 0-33-5-48-13v1c0 51 36 93 84 103-15 4-34 5-47 2 13 42 52 72 98 73-47 36-96 49-155 44 46 30 102 47 161 47 197 0 306-168 299-312 20-15 38-34 52-55z"/>
  </symbol>
  <symbol id="symbol-github-logo" viewBox="0 0 512 512">
    <path d="M256 0C115 0 0 115 0 256c0 113 73 209 175 243 13 2 18-5 18-12v-48c-64 12-81-16-86-30-3-7-15-30-26-36-9-5-22-17 0-17 20 0 35 19 39 26 23 39 60 28 75 21 2-17 9-28 16-34-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-33 3-68 0 0 21-7 70 26 20-6 42-9 64-9s43 3 64 9c49-33 70-26 70-26 14 35 5 61 3 68 16 18 26 41 26 69 0 98-60 120-117 126 9 8 17 23 17 47v70c0 7 5 15 18 12 100-33 173-129 173-242C512 115 397 0 256 0z"/>
  </symbol>
  <symbol id="symbol-bountysource-icon" viewBox="0 0 512 512">
    <path d="M442 465h-371C58 464 48 454 48 442v-371C48 58 58 48 71 48h371c12 0 23 10 23 23v371c0 13-10 23-22 23zm-272-56c12 5 56 19 91 19 53 0 85-19 102-58 14-31 5-70-21-87-12-8-11-7 1-15 28-17 51-34 51-81 0-52-58-100-143-100-82 0-133 46-133 83 0 3 1 12 4 12 16 0 40-62 123-62 44 0 113 18 113 65 0 43-76 61-98 72-12 6-11 18 0 25 10 6 74 6 74 50 0 32-19 64-78 64-43 0-49-13-49-21 0-11-.5-48 6-85 6-36 17-69 26-90 4-9-2-19-20-19-13 0-17 9-26 26-17 33-32 76-32 179 0 12 3 21 8 23z"/>
  </symbol>
  <symbol id="symbol-discord-icon" viewBox="0 0 220 220">
    <path d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z"/><path class="st0" d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"/>
  </symbol>
  <symbol id="icon-home" viewBox="0 0 32 32">
    <title>home</title>
    <path class="path1" d="M32 18.451l-16-12.42-16 12.42v-5.064l16-12.42 16 12.42zM28 18v12h-8v-8h-8v8h-8v-12l12-9z"></path>
  </symbol>
</svg>


  <header id="masthead">
    <div class="container">

      {% include network-nav.html %}

      {% if page.is_home %}
        <div class="brand">
          <img src="/img/bower-logo.svg" class="logo" alt="Bower logo" />
          <h1>Bower</h1>
          <h3 class="tagline">A package manager for&nbsp;the&nbsp;web</h3>
        </div>
      {% else %}
        <a href="/">
          <img class="logo" src="/img/bower-logo.svg" alt="Bower logo" />
        </a>

        {% unless page.subtitle %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% endunless %}
        {% if page.subtitle %}
        <h1 class="page-title">{{ page.title }}</h1>
        <h4 class="small-hidden" style="margin: -20px 0 0 223px">{{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}</h4>
        {% endif %}
      {% endif %}

    </div>
  </header>

  <div class="notification">
    ...psst! While Bower is maintained, we recommend using <a href="https://yarnpkg.com">Yarn</a> and <a href="https://webpack.js.org/">Webpack</a> or <a href="https://parceljs.org/">Parcel</a> for front-end projects <a href="https://bower.io/blog/2017/how-to-migrate-away-from-bower/">read how to migrate</a>!
  </div>
  <div id="content">

    <div class="container">

      <div class="btn menu-btn">Menu</div>
      <div class="sidebar">
        <h5>Sponsors (<a href="https://opencollective.com/bower">become one</a>):</h5>
        <a href="https://www.heroku.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/RzeOnsu.png" alt="Heroku" /></a>
        <a href="https://icons8.com/web-app/category/all/Very-Basic"><img width="200" class="sidebar-logo" src="https://i.imgur.com/QlUE6Wj.png" alt="Icons8" /></a>
        <a href="https://clay.global"><img width="200" class="sidebar-logo" src="https://i.imgur.com/CFT6Rdk.png" alt="Clay Global" /></a>
        <!-- they paid for full year --><a href="https://www.webton.nl/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/xvWHTAU.png" alt="Webton" /></a>
        <!-- they paid for full year --><a href="https://www.xn--forbruksln-95a.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/cxkV6Ve.png" alt="Forbrukslån" /></a>
        <a href="https://www.codeinwp.com"><img width="200" class="sidebar-logo" src="https://i.imgur.com/89wdDCY.png" alt="Code in WP" /></a>
        <a href="https://www.yournav.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/DnMk8fy.png" alt="Yournav" /></a>
        <a href="https://www.promocodewatch.com"><img width="200" class="sidebar-logo" src="https://i.imgur.com/nL7VBDB.png" alt="Promo Code Watch" /></a>
        <a href="https://www.dontpayfull.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/LzILKuJ.png" alt="Don't Pay Full" /></a>
        <a href="https://www.vpsserver.com"><img width="200" class="sidebar-logo" src="https://i.imgur.com/uybwrjU.png" alt="VPS Server" /></a>
        <a href="https://www.hosted.nl/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/aoQg0N6.png" alt="Hosted.nl" /></a>
        <a href="https://www.givemedeals.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/oGv5LbE.png" alt="GiveMe Deals" /></a>
        <a href="https://www.hrank.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/o9e8PNU.png" alt="HRank" /></a>
        <a href="https://datantify.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/kra4tLm.png" alt="Datantify" /></a>
        <a href="https://www.finanstopp.no/forbrukslan/" style="display: inline-block; padding-top:10px; padding-bottom: 10px;"><img width="200" class="sidebar-logo" src="https://i.imgur.com/KHJPgDx.png" alt="FinansTopp" /></a>
        <a href="https://uiuxagencies.top"><img width="200" class="sidebar-logo" src="https://i.imgur.com/mQxmvRm.png" alt="ux design companies" /></a>
        <a href="http://xn--smlnutensikkerhet-9qbb.com/"><img width="200" class="sidebar-logo" src="https://i.imgur.com/9Qxie3r.png" alt="Lån på dagen" /></a>
        <a href="https://monovm.com/buy-rdp/"><img width="200" class="sidebar-logo" src="https://i.img
ur.com/v9RLvQ7.jpg" alt="buy rdp" /></a>
        <a href="https://www.privatkreditsofort.ch/" ><img width="200" class="sidebar-logo" src="https://i.imgur.com/PFHQKo4.png" alt="buy rdp" alt="Privatkredit sofort - Der Kleinkredit Vergleich für die Schweiz" /></a>
        
        <ul class="docs-nav nav">
          <li class="nav-home"><a href="/">Home</a></li>
          <li class="nav-creating"><a href="/docs/creating-packages/">Creating Packages</a></li>
          <li class="nav-api"><a href="/docs/api/">API</a></li>
          <li class="nav-config"><a href="/docs/config/">Configuration</a></li>
          <li class="nav-config"><a href="/docs/pluggable-resolvers/">Pluggable Resolvers</a></li>
          <li class="nav-tools"><a href="/docs/tools/">Tools</a></li>
          <li class="nav-about"><a href="/docs/about/">About</a></li>
        </ul>

        <ul class="extra-nav nav">
          <li><a href="https://github.com/bower/bower">
            <svg class="extra-nav-icon">
              <use xlink:href="#symbol-github-logo"></use>
            </svg>
            Bower on GitHub
          </a></li>
          <li><a href="https://twitter.com/bower">
            <svg class="extra-nav-icon">
              <use xlink:href="#symbol-twitter-logo"></use>
            </svg>
            @bower
          </a></li>
          <li><a href="https://discord.gg/0fFM7QF0KpZaDeN9">
            <svg class="extra-nav-icon">
              <use xlink:href="#symbol-discord-icon"></use>
            </svg>
            Get support on discord
          </a></li>
          <li><a href="https://salt.bountysource.com/teams/bower">
            <svg class="extra-nav-icon">
              <use xlink:href="#symbol-bountysource-icon"></use>
            </svg>
            Support on Bountysource
          </a></li>
        </ul>
      </div>

      <div class="main">
        {{ content }}


        <footer class="site-footer">
          <p class="issue"><a href="https://github.com/bower/bower.github.io/issues">Help improve these docs. Open an issue or pull request.</a></p>
        </footer>

      </div>

    </div>


  </div>

{% include html-foot.html %}
